---
layout: base
body_id: artwork
---

{% assign document = site.data.volumes | find: "id", page.source_id  %}
{% assign translations = site.p5js | where: "artwork_slug", page.slug %}

<div class="row-fluid">
	<div class="container-artwork" name="display" style="margin-top: 50px;">

		<div  name="image">
			<img src="{{ '/assets/img/' | append: page.photo_link | relative_url }}">
		</div>

		<div class="" name="data" >
			<p><h2>{{ page.title }}</h2></p>

			{% assign artist = site.artists | find: "name", page.artist %}
			{% assign url = "/artists/" | append: artist.slug | relative_url %}
			<p><h3><a href="{{ url }}">{{ page.artist }}</a></h3></p>
			</br>
			source: {{ page.source }}
			{% if document %}
			&dash; <a href="{{ document.url }}" target="_blank" rel="noopener noreferrer">{{ document.id }}</a>
			{% endif %}
			</br>
			date: {{ page.period }}
			</br>
			</br>
			{% if page.description %}
			description:
			</br>
			{{ page.description }}
			</br>
			</br>
			{% endif %}
		</div>

	</div>
</div>

<hr>
{% if page.restricted %}
<div class = "row-fluid">
	This artist explicitly requested that their work not be reproduced online. We are respecting this request by not sharing any translation code for this artwork.
</div>
{% else %}
<div class = "row-fluid">
		<h3>Translations</h3>
</div>
<div class = "row-fluid container-translations">
		<div class="translations">
			<h5>Direct Translation</h5>
			{% for t in translations %}
			{% if t.category == "direct" %}
			  {% assign translation_url = "/translations/p5js/" | append: t.slug | relative_url %}
				<p><a href="{{ translation_url }}">{{ t.translator }}</a></p>
			{% endif %}
			{% endfor %}
		</div>
		<div class="translations">
			<h5>Experimental</h5>
			{% for t in translations %}
			{% if t.category == 'experimental' %}
			  {% assign translation_url = "/translations/p5js/" | append: t.slug | relative_url %}
				<p><a href="{{ translation_url }}">{{ t.translator }}</a></p>
			{% endif %}
			{% endfor %}
		</div>
	</div>
</div>
{% endif %}